@import 'base';

/* mobile & default & iPhone SE */
/* put this fallback stylesheet outside any media query, or Microsoft Edge does not display correctly*/
body {
	width: 80%;
	margin: 40px auto 25px;
}

h1 {
	font-size: 1.25rem;
}

/* footer */
footer {
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
}

/* news */
.news {
		p {
				width: 80%;
		}
}

/* profile picture */
.profile-pic img {
	display: none;
}

/* bio */
.bio img {
	width: 150px;
	border-radius: 50%;
	float: left;
	margin-right: 18px;
}

/* navigation */
nav ul {
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 5px;
}

.nav-button {
	margin-right: 8px;
	margin-bottom: 3px;
	a {
		font: bold 13px $font-nav;
		display: block;
		padding: 5px 10px;
	}
}

/* embedded youtube video */
.youtube-video {
    aspect-ratio: 16/9;
    width: 100%;
}

/* my image */
#myImg {
  width: 100%;
}


/* mobile & iPhone 8 */
@media screen and (min-width: 341px) and (max-width: 666px) {
	/* overall (body, paragraph, link, list) */
	body {
		width: 80%;
		margin: 40px auto 25px;
		padding-bottom: 30px;
	}

	h1 {
		font-size: 1.5rem;
	}

	/* footer */
	footer {
		ul {
			margin: 0;
			padding: 0;
		}
		li {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
	}

	/* news */
	.news {
	    p {
	        width: 80%;
	    }
	}

	/* profile picture */
	.profile-pic img {
		display: none;
	}

	/* bio */
	.bio img {
		width: 175px;
		border-radius: 50%;
		float: left;
		margin-right: 18px;
	}

	/* navigation */
	nav ul {
	  grid-template-columns: 1fr 1fr 1fr;
	  grid-row-gap: 5px;
	}

	.nav-button {
	  margin-right: 8px;
	  margin-bottom: 3px;
	  a {
	    font: bold 13px $font-nav;
	    display: block;
	    padding: 5px 10px;
	  }
	}
    
    /* embedded youtube video */
    .youtube-video {
      aspect-ratio: 16/9;
      width: 100%;
    }
    
    /* my image */
    #myImg {
      width: 100%;
    }

}


/* tablet small */
/* only settings different from the mobile mode need specifying */
/* use @import instead of @use because Ruby Sass does not support the latter yet (currently only Dart Sass supports @use) */
@media screen and (min-width: 667px) and (max-width: 749px) {
	@import 'tablet-base';
    
    /* embedded youtube video */
    .youtube-video {
      width: 560px;
      height: 315px;
    }
    
    /* 100% modal image width on smaller screens */
    .modal-content {
    width: 100%;
    }
}

/* tablet large */
@media only screen and (min-width: 750px) and (max-width: 1024px) {
	@import 'tablet-base';

	/* navigation */
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }

	/* footer */
	footer {
		li {
			display: inline-block;
		}
	}
    
    /* embedded youtube video */
    .youtube-video {
      width: 560px;
      height: 315px;
    }
    
    /* my image */
    #myImg {
      width: 70%;
    }
    
}

/* computer */
@media screen and (min-width: 1025px) {
	/* overall (body, paragraph, link, list) */
	body {
		width: 90%;
		margin: 10px auto;
	  padding: 10px;
	}

	.name h1 {
		font-size: 1.5rem;
		margin-bottom: 0px;
		padding-bottom: 5px;
	}

	.uni {
		margin-top: 0px;
		padding-top: 5px;
		padding-bottom: 0px;
		margin-bottom: 0px;
	}

	.name p {
		margin-top: 3px;
		padding-top: 0px;
	}

	/* headings */
	/*h3 {
	  text-align: center;
	}

	h4 {
	    text-align: center;
	}*/

	/* footer */
	footer {
		/*margin-left: 380px;*/
		/*width: 900px;*/
		grid-column: me/mi;
		grid-row: 3;
		li {
			display: inline-block;
		}
	}

	.news p {
	    width: 90%;
	}

	h3:after {
    width:  100%;
	}

	/* layout */
	.wrapper {
    display: grid;
    grid-template-columns: [ma] 300px [me] auto [mi];
    grid-column-gap: 80px;
		/*grid-template-rows: 150px 4200px 100px;*/
		grid-template-rows: auto;
	}


	header {
		grid-column: ma / me;
		grid-row: 1;
		position: fixed;
    margin-top: 15px;
		margin-bottom: 30px;
    display: grid;
    grid-template-areas: "profile-pic"
                         "name"
												 "nav";
    justify-items: center;
	}

	/*.header-wrapper {
		position: relative;
	}*/

	main {
    grid-column: me / mi;
		grid-row: 1/2;
	}

	.profile-pic {
    grid-area: profile-pic;
	}

	.name {
    grid-area: name;
    text-align: center;
	}

	nav {
		grid-area: nav;
	}


	/* profile picture */
	.profile-pic img {
    width: 220px;
    border-radius: 50%;
    display: block;
	}

	/* bio */
	.bio img {
    display: none;
	}

	/* navigation */
	nav ul {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
	}

	.nav-button {
    margin-right: 20px;
    margin-bottom: 5px;
		a {
	    font: bold 15px $font-nav;
	    display: inline-block;
	    margin: 0;
	    padding: 7px 20px;
		}
	}
    
    /* embedded youtube video */
    .youtube-video {
      width: 560px;
      height: 315px;
    }
    
    /* my image */
    #myImg {
      width: 70%;
    }
    
}


/* IE */
@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	/* overall (body, paragraph, list, link) */
  body {
    margin: 25px auto;
  }

	/* layout */
  .wrapper {
      display:block;
  }

  h3, h4 {
      text-align: left;
  }

  header {
    display: block;
    position:inherit;
    width: inherit;
    margin-top: 0px;
    text-align: left;
  }

  .name {
    text-align: left;
    margin-left: 200px;
    padding-left: 20px;
  }

	/* social */
	.social ul {
		margin-top: 0;
	  margin-bottom: 15px;
	  margin-left: 0;
	}

	/* news */
	.news p {
	    width: 90%;
	}

	/* navigation */
    nav {
      margin-left: 200px;
      padding-left: 20px;
			ul {
	    	display: flex;
			}
    }

	.nav-button {
    margin-right: 20px;
    margin-bottom: 5px;
		a {
	    font: bold 15px $font-nav;
	    display: inline-block;
	    margin: 0;
	    padding: 10px 20px;
		}
	}

	/* profile picture */
  .profile-pic img {
		width: 175px;
		border-radius: 50%;
		display: block;
    float: left;
    margin-right: 40px;
	}

	/* bio */
	.bio img {
	   display: none;
	}

	/* footer */
	footer {
		margin-left: 0;
		li {
			display: inline-block;
		}
	}
    
    /* embedded youtube video */
    .youtube-video {
      width: 560px;
      height: 315px;
    }
    
    /* my image */
    #myImg {
      width: 70%;
    }
    
}
