body {
	font-family: "PT Serif", "Noto Serif", Enriqueta, Georgia, "Times New Roman", 'serif';
	background-color: beige;
	width: 90%;
	margin: 25px auto;
	line-height: 1.4em;
    }

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.2em;
}

.uni {
	font-style: oblique;
	font-weight: 500;
}

.profile-pic {
	grid-area: profile-pic;
	place-self: center;
    padding-bottom: 30px;
}

.profile-pic > img {
    width: 190px;
    border-radius: 50%;
    display: block;
}

.bio > img {
    display: none;
}

a {
	text-decoration: none;
}

ul {
	margin-left: 10px;
	padding-left: 10px;
	list-style-type: square;
}

nav > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav > ul > li {
	display: inline;
	margin-right: 20px;
}


.note {
	font-size: 0.9em;
	font-style: italic;
	padding-left: 8px;
	display: block;
	line-height: 1.3em;
}

.header {
	grid-area: header;
    justify-self: start;
    align-self: center;
}

nav {
	grid-area: nav;
    justify-self:center;
}

.bio {
	grid-area: bio;
}

.teaching {
	grid-area: teaching;
}

.publication {
	grid-area: publication;
}

.misc {
	grid-area: misc;
}

.contact {
	grid-area: contact;
}

 .wrapper {
        display: grid;
        grid-template-areas: "profile-pic header header"
                             "profile-pic header header"
                             ". header header"
                             "nav nav nav"
                             "bio bio bio"
                             "teaching teaching teaching"
                             "publication publication publication"
                             "misc misc misc"
                             "contact contact contact";
}


   
