body {
	font-family: "PT Serif", "Noto Serif", Enriqueta, Georgia, "Times New Roman", 'serif';
	background-color: beige;
	width: 90%;
	margin: 10px auto;
    padding: 10px;
	line-height: 1.4em;
    }

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.2em;
}

h3 {
    margin: 1em 0 0.75em;
	padding: 0 0 5px 0;
	color: #6B5344;
    text-align: center;
	font-weight: normal;
	font-family: 'Scada', sans-serif;
	position: relative;
	text-shadow: 0 2px 0 rgba(255,255,255,0.5);
	font-size: 24px;
	line-height: 40px;
}

h4 {
    text-align: center;
}

.newss {
    background: linear-gradient(
		60deg,
		hsl(0, 75%, 50%) 10%,
		hsl(20, 75%, 50%) 10%,
		hsl(20, 75%, 50%) 25%,
		hsl(50, 75%, 50%) 25%,
		hsl(50, 75%, 50%) 40%,
		hsl(130, 75%, 50%) 40%,
		hsl(130, 75%, 50%) 55%,
		hsl(200, 75%, 50%) 55%,
		hsl(200, 75%, 50%) 70%,
		hsl(260, 75%, 50%) 70%,
		hsl(260, 75%, 50%) 85%,
		hsl(0, 75%, 50%) 85%
	);

	text-shadow: 0.5px -0.6vw #fff4;
	color: #fff;
	-webkit-background-clip: text;
   	-webkit-text-fill-color: transparent;
   	animation: 10s BeProud linear infinite,
   	3s Always ease alternate infinite;
}

@keyframes BeProud {
	100% { background-position: 100vw 0px; }
}

@keyframes Always {
	100% { transform: scale(1.1);}
}

h3 i, sup i {
	padding-right: 10px;
	color: #A8D13B;
	font-size: 0.8em;
}

h3:after {
    width:  100%;
    position: absolute;
	content: "";
	height: 1px;
	border-radius: 2px;
	left: 0;
	bottom: 0;
	box-shadow: 
		0 -1px 0 rgba(0,0,0,0.1), 
		0 1px 0 rgba(255,255,255,0.6);
}

.uni {
	font-style: oblique;
	font-weight: 500;
}

/* Positioning */

.wrapper {
        display: grid;
        grid-template-columns: [ma] 300px [me] auto [mi];
        grid-column-gap: 80px;
}

header {
	grid-column: ma / me;
    position: fixed;
    margin-top: 60px;
    display: grid;
    grid-template-areas: "profile-pic"
                         "name";
    justify-items: center;
}

main {
    grid-column: me / mi;
}

.profile-pic {
    grid-area: profile-pic;
}

.name {
    grid-area: name;
    text-align: center;
}

.profile-pic img {
    width: 280px;
    border-radius: 50%;
    display: block;
}

.bio img {
    display: none;
}

a {
	text-decoration: none;
}

ul {
	margin-left: 10px;
	padding-left: 10px;
	list-style-type: square;
}


nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
}

.nav-button a {
    font: bold 13px arial, helvetica, sans-serif;
    color: #555;
    display: inline-block;
    padding: 10px 20px;
}

.nav-button {
	display: inline-block;
	margin-right: 20px;
    text-align:center;
    border: 1px solid #bbb;
    background-color: #ddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: -o-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -ms-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  background-clip: padding-box; /* Fix bleeding */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  text-shadow: 0 1px 0 rgba(255,255,255, .9);
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav-button:hover {
  background-color: #eee;
  color: #555;
}

.nav-button:active {
    background: #e9e9e9;
  position: relative;
  top: 1px;
  text-shadow: none;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}

.nav-button.green a, .nav-button.red a, .nav-button.blue a {
    color: #fff;
}

.nav-button.green, .nav-button.red, .nav-button.blue {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.2);
  
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
}

/* */

.nav-button.green{
  background-color: #57a957;
  border-color: #57a957;
}

.nav-button.green:hover{
  background-color: #62c462;
}

.nav-button.green:active{
  background: #57a957;
}

/* */

.nav-button.red{
  background-color: #ca3535;
  border-color: #c43c35;
}

.nav-button.red:hover{
  background-color: #ee5f5b;
}

.nav-button.red:active{
  background: #c43c35;
}

/* */

.nav-button.blue{
  background-color: #269CE9;
  border-color: #269CE9;
}

.nav-button.blue:hover{
  background-color: #70B9E8;
}

.nav-button.blue:active{
  background: #269CE9;
}

.note {
	font-size: 0.9em;
	font-style: italic;
	padding-left: 8px;
	display: block;
	line-height: 1.3em;
}

@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .wrapper {
        display:flex;
    }
    
    header {
        display: flex;
        flex-direction: row;
        position: fixed;
        width: 300px;
    }
}